html, body, #root {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
}

.greeting {
  margin: auto;
  width: 90%;
  text-align: center;
}

.auth-form {
  margin: auto;
  min-width: 300px;
  max-width: 400px;
}

.form-text {
  text-align: center;
}
.auth-form a {
  color: grey;
}

.auth-form a:hover {
  color: grey;
}

.auth-form .btn {
  width: 100%;
}

.tweets {
  width: 90%;
  min-width: 300px;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}

.form {
  margin-bottom: 20px;
}

li {
  word-wrap: break-word;
}

.list.list-group {
  clear: both;
}

.btn-wrapper {
  width: 100%;;
}

.letter-counter {
  margin-bottom: -20px;
  margin-left: 5px;
  margin-top: 2px;
  color: grey;
  font-size: 15px;
}

.letter-counter.danger {
  color: #dc3545;
}

.add-btn {
  margin: 5px 0 20px 5px;
  float: right;
}

.add-btn.save {
  background: #fefefe;
  color: #dc3545;
}

.add-btn.save:hover {
  background: #fff;
  color: #dc3545;
}

.fa-edit {
  transition: color .5s;
}

.fa-edit:hover {
  cursor: pointer;
  color: #696969;
}

.nav-item {
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
  padding: 9px;
}

.tweets .tweet {
  position: relative;
  transition: all .5s;
}

.tweets .delete {
  display: inline-block;
  margin-left: 10px;
  border-radius: 1px;
  height: 100%;
  background: rgba(220, 53, 69, 1);
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: content-box;
  transition: all .5s;
  display: flex;
}

.tweet:hover {
  background: #f8f9fa;
}

.tweet-hover_delete {
  width: 50px !important;
  right: -50px !important;
}

.tweet-hover {
  margin-right: 50px;
  margin-left: -50px;
}

.tweet-hover_delete-icon {
  visibility: visible !important;
  opacity: 1 !important;
}

/*
.tweets .list-group-item:hover .delete {
  width: 50px;
  right: -50px;
}

.tweets .list-group-item:hover .delete-icon {
  visibility: visible;
  opacity: 1;
  
}

.tweets .list-group-item:hover {
  margin-right: 50px;
  margin-left: -50px;
}*/

.delete-icon {
  visibility: hidden;
  opacity: 0; 
  transition: all .5s;
  margin: auto;
  font-size: 20px;
}

.delete:hover {
  cursor: pointer;
}


.delete:hover .delete-icon {
  color: #fff;
}

.delete-hover_delete-icon {
  color: #fff;
}

